<div class="jumbotron text-center">
  <h3>India Location Finder</h3>
  <p>Enter a zipcode and press enter to get the location info...</p>
    <div class="col-md-4 mx-auto">
      <input 
      type="number" 
      class="form-control"
      (keyup.enter) = "onEnter($event)"
      placeholder="Enter zipcode"
      autofocus="on"
      >
    </div>
    <p class="text-danger">{{errorResponse}}</p>
</div>

<div *ngIf="resultsLength > 0 && !errorResponse" class="container">
  <h3>Location Info</h3>
  <table>
    <tr>
      <th>Country Name</th>
      <td>: {{results.country}}</td>
    </tr>
    <tr>
      <th>Country Abbreviation</th>
      <td>: {{results['country abbreviation']}}</td>
    </tr>
    <tr>
      <th>State Name</th>
      <td>: {{results.places[0].state}}</td>
    </tr>
    <tr>
      <th>State Abbreviation</th>
      <td>: {{results.places[0]['state abbreviation']}}</td>
    </tr>
    <tr>
      <th>Place Name</th>
      <td>: {{results.places[0]['place name']}}</td>
    </tr>
    <tr>
      <th>Longitute</th>
      <td>: {{results.places[0].longitude}}</td>
    </tr>
    <tr>
      <th>Latitude</th>
      <td>: {{results.places[0].latitude}}</td>
    </tr>
    <tr>
      <th>Post Code</th>
      <td>: {{results['post code']}}</td>
    </tr>
  </table>
</div>